.Company {
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы переносились на новую строку */
    gap: 20px; /* Уменьшим расстояние между блоками для более компактного отображения */
    padding: 50px;
    justify-content: center; /* Центрируем элементы */
}

.CompanyImg {
    background: url('https://c.dns-shop.ru/thumb/st1/fit/105/35/856ff976e32221f090e9aa7ac9e5ca7a/69e02179171d693c6982c3cddf1dd5d03b35e60c46ea8173923960042d9defe6.png');
    width: 108px;
    height: 65px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
   cursor: pointer;
    border-radius: 10px; /* Закруглим углы для улучшенного внешнего вида */
}

@media (max-width: 768px) {
    .Company {
        gap: 15px; /* Уменьшаем расстояние на мобильных устройствах */
        padding: 20px;
    }

    .CompanyImg {
        width: 80px; /* Уменьшаем ширину изображения на мобильных */
        height: 50px; /* Уменьшаем высоту на мобильных */
    }
}

@media (max-width: 480px) {
    .CompanyImg {
        width: 60px; /* Еще меньше изображения на очень маленьких экранах */
        height: 40px;
    }
}
