.Gift {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем заголовок */
    position: relative; /* Для позиционирования таймера */
    background: url('../../../public/9849611.png');
    background-size: 1690px;
}

.TimerBox {
    background-color: #FA891E; /* Цвет фона для таймера */
    padding: 10px; /* Уменьшенные отступы внутри квадрата */
    border-radius: 10px; /* Закругленные углы */
    margin-bottom: 20px; /* Отступ между таймером и блоками */
    height: 20px; /* Уменьшенная высота блока */
    align-items: center;
}

.Timer {
    font-size: 18px; /* Уменьшенный размер шрифта для таймера */
}

.Blocks {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выровнять блоки по центру */
    gap: 22px;
   
}

.Block {
    border: 5px solid green; /* Рамка самого нижнего блока */
    width: 400px; /* Ширина самого нижнего блока */
    height: 100px; /* Высота блока */
    margin-bottom: -20px; /* Убираем отступ между блоками */
    background-color: transparent; /* Делаем фон прозрачным */
    background: url('https://c.dns-shop.ru/thumb/st1/fit/500/500/62f2cda2e21e9ccc2dda70046dda43b1/5064bdc92a25d8c427c773cd17f3ad1b49e23a6c16e25036d114d7b6c68e3bb8.jpg.webp');
    background-size: 100px;
    background-position: 20px 20px;
}

.Block2 {
    border: 5px solid orange; /* Рамка второго уровня */
    width: 350px; /* Ширина второго уровня */
    height: 100px; /* Высота блока */
    margin-bottom: -20px; /* Убираем отступ между блоками */
    background-color: transparent; /* Делаем фон прозрачным */
    background: url('https://c.dns-shop.ru/thumb/st4/fit/500/500/e86366b4ce0d730844b0403b865ea7c6/b05591cb14ac30ef1ac6e2b73256eafdbcbfe6d8bc8666e9fc96a6a94f46316b.jpg.webp');
    background-size: 90px;
    background-position:  10px;
}

.Block3 {
    border: 5px solid green; /* Рамка третьего уровня */
    width: 300px; /* Ширина третьего уровня */
    height: 100px; /* Высота блока */
    margin-bottom: -20px; /* Убираем отступ между блоками */
    background-color: transparent; /* Делаем фон прозрачным */
    background: url('https://c.dns-shop.ru/thumb/st1/fit/500/500/3c4872b710dfcea21c2d96f3e4eeac44/f376cd06a2b2632c6365bf9d004c85f79f92bcae5fdff18f3d830748fa3700a8.jpg.webp');
    background-size: 100px;
    background-position: 20px 20px;
}

.Block4 {
    border: 5px solid orange; /* Рамка четвертого уровня */
    width: 250px; /* Ширина четвертого уровня */
    height: 100px; /* Высота блока */
    margin-bottom: -20px; /* Убираем отступ между блоками */
    background-color: transparent; /* Делаем фон прозрачным */
    background: url('https://c.dns-shop.ru/thumb/st1/fit/500/500/b36f4338cd79a1b55d1f86661c42914f/10e4878a5c19fa40f9960678ea9526e2e0e41277339ff8d698ee1079424ee549.jpg.webp');
    background-size: 100px;
    background-position: 20px 20px;
}

.Block5 {
    border: 5px solid green; /* Рамка самого верхнего блока */
    width: 200px; /* Ширина самого верхнего блока */
    height: 100px; /* Высота блока */
    background-color: transparent; /* Делаем фон прозрачным */
    background: url('https://c.dns-shop.ru/thumb/st4/fit/500/500/0c8e34bc4df141a58bf520fdcf05e15b/3de066d0c8bcb80861ae370754a72fe5cf690acdb205784daf345c3cabf13633.jpg.webp');
    background-size: 100px;
    background-position: 20px 20px;
}

.Price {
    
    bottom: 10px; /* Отступ от нижней границы блока */
    left: 10px; /* Отступ от левой границы блока */
    font-size: 18px; /* Размер шрифта для цены */
}
