.Registration {
   justify-content: center;
   align-items: center;
    max-width: 320px;
    padding: 20px;
    border-radius: 8px;
  }

  .Registration button{
    background-color: #e67e22;
    color: white;
  }

  .InputField {
    margin-bottom: 15px;
  }
  
  .InputField label {
    display: block;
    font-size: 14px;
  }
  
  .InputField input {
    background-color: white;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
 
  